<footer class="site-footer">
    <p><a href="/privacy">Privacy/Disclaimer Statement</a></p>
    <p>Your information will not be sold or misused. The website builder is not responsible for any incorrect information posted by a pet owner.</p>
</footer>
