<header>
    <div class="container header">
        <a href="/Q8HomePage">
            <img src="/image/logo.png" alt="Adopt A Pet Logo" style="max-width: 100px;">
        </a>
        <h1>Adopt A Pet</h1>
        <p>Website for adopting a cat or dog in your local area.</p>
        <p>Current Time: <span id="dateTimeDisplay"></span></p>
    </div>
</header>
<script src="/js/updateTime.js"></script>
